body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}
main {
    padding: 20px;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2rem;
}
#flux-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
img{
    width:400px;
    height: 400px;
}